.coin {
  background: #ccc;
  border: 4px solid #aaa;
  border-radius: 50%;
  color: #222;
  display: block;
  font-size: 18px;
  font-weight: bold;
  height: 55px;
  margin-bottom: 10px;
  outline: none;
  width: 55px;
}

.coin.tenCents {
  transform: scale(0.8);
}

.coin.twentyCents {
  transform: scale(0.9);
}

.coin.fiftyCents {

}

.coin.oneDollar {
  background: #D4AF37;
  border-color: #B29433;
  transform: scale(0.8);
}

.coin.twoDollars {
  background: #D4AF37;
  border-color: #B29433;
  transform: scale(0.7);
}

.coin:hover {
  cursor: pointer;
}