.item {
  position: relative;
  text-align: center;
}

.item button {
  appearance: none;
  background: #000;
  border: none;
  color: #fff;
  height: 100%;
  outline: none;
  position: relative;
  text-align: center;
  width: 100%;
}

.item button:disabled {
  opacity: 0.6;
}

.item_label {
  font-size: 12px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 100%;
}

.item_value {
  bottom: 10px;
  font-size: 22px;
  position: absolute;
}