.item {
  position: relative;
  text-align: center;
}

.item button {
  appearance: none;
  background: #e0e0e0;
  border: 4px solid #fff;
  border-radius: 6px;
  color: #000;
  height: 100%;
  outline: none;
  position: relative;
  text-align: center;
  width: 100%;
}

.item.highlight button {
  background: #FFFACD;
}

.item button:disabled {
  opacity: 0.6;
}

.item_label {
  font-size: 12px;
  font-weight: bold;
  left: 0;
  position: absolute;
  text-transform: uppercase;
  top: 10px;
  width: 100%;
}

.item_value {
  bottom: 10px;
  font-size: 22px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}